
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

h1 {
  font-size: 65px
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}





/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.navbar-wrapper .navbar .container {
  width: 100%;
}

.navbar .navbar-collapse {
  float: left;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > .drake {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.drake-classic {
  background-image: url("images/cool-guy-drake.jpg");
  background-position: 0 -100px;
}

